@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
}

.site-title h1 {
  font-weight: 400;
  font-family: "Lora", sans-serif;
  color: #1e56a0;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
  text-transform: capitalize;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: white;
  padding: 2em 0;
  box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.19);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #163175;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2em 0;
}

nav a:hover,
nav a:focus {
  color: #1e56a0;
}

.current-page {
  color: red;
}

.current-page:hover {
  color: green;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}

/* Home */

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leading-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.leading-text h1 {
  font-size: 450%;
  font-weight: 700;
  color: white;
  font-family: "Lora" sans-serif;
  padding-bottom: 0;
  margin: 0 0;
}

.leading-text h3 {
  font-weight: 700;
  color: white;
  font-family: "Lora" sans-serif;
}

.btn-hire {
  background-color: #1e56a0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-hire:hover,
.btn-hire:focus {
  background-color: #163172;
}

@media (max-width: 800px) {
  .btn-hire {
    padding: 8px 16px;
  }
}

@media (max-width: 600px) {
  .leading-text h1 {
    font-size: 260%;
  }

  #hr-main {
    width: 100px;
    height: 5px;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 6px;
  }
}
